.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}
.task-item.active {
  background-color: var(--card-active-dark-color);
  cursor: pointer;
}
.task-item.active:hover {
  background-color: #3e9276b7;  
}
.task-item.inactive {
  background-color: #7e8081f5;
}
.task-item.inactive .task-item__status{
  background-color: #7c8683b7; 
}
.task-item.inactive .task-item__description {
  text-decoration: line-through;
}

.task-item__status {
  appearance: none;
  font: inherit;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: #fff;
  margin-right: 1.5rem;
  border: 1px solid white;
  border-radius: 3px;
}
.task-item__status:hover {
  background-color: rgba(255, 255, 255, 0.747);
}
.task-item__status:checked {
  background-color: rgba(34, 14, 214, 0.747);
}
.task-item__description {
  width: 95%; /* ?? */
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  /* align-items: flex-end; */
  align-items: center;
  /* flex-flow: column-reverse; */
  justify-content: flex-start;
 
  /* flex: 1; */
  /* font-size: 2rem; */
}

.task-item h2 {
  color: #3a3a3a;
  font-size: 2rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.task-item__priority {
  width: 7rem;
  height:max-content;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #9555b3;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-item__priority.low-priority {
  background-color: var(--bg-priority-low-color);
}
.task-item__priority.medium-priority {
  background-color: var(--bg-priority-medium-color);
}
.task-item__priority.high-priority {
  background-color: var(--bg-priority-high-color);
}

/* @media (min-width: 580px) {
  .task-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .task-item__description h2 {
    font-size: 1.25rem;
  }

  .task-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
} */